<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Contenido.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="PlanificacionAnual.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="PlanificacionClases.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="TemasContenido.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

    <system.web>
        <authorization>
            <allow roles="Administrador,Director,Docente"/>
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>