<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <location path="MsjeEntrada.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrador,Administrativo,Alumno,Director,Docente,Psicopedagogo,Preceptor,Tutor"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    
    <location path="MsjeEnviado.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrador,Administrativo,Alumno,Director,Docente,Psicopedagogo,Preceptor,Tutor"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    
    <location path="MsjeRedactar.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrador,Administrativo,Alumno,Director,Docente,Psicopedagogo,Preceptor,Tutor"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    
    <system.web>
        <authorization>
            <allow roles="Administrador,Administrativo,Alumno,Director,Docente,Psicopedagogo,Preceptor,Tutor"/>
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>