/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
    font-weight: bold;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1000px;
    background-color: #fff;
    margin: 20px auto 0px auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    width: 100%;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 50px;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    width: 150px;
    text-align: center;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 50%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* Estilo Menu Navegación*/

.contenedormenu
{
    padding-top: 20px;
    padding-left: 10px;
    width: 250px;
    float: left;
    vertical-align: top;
}

.sitepath, .breadcrumb span
{
    font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal; /*color: #585858;	*/
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle;
}

.sitepathSeparacion
{
    font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle;
}


.menu
{
    font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #23387A;
    text-decoration: none;
    vertical-align: middle;
}


.menuHover
{
    font-weight: bold;
}

.menuRoot
{
    left: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #25385A;
    text-decoration: underline;
    vertical-align: middle;
}


.menuHijos
{
    font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #23387A;
    text-decoration: none;
    vertical-align: middle;
}

a.menuHijos:hover
{
    font-weight: bold;
}

.menuNiv2Hover
{
    font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #C8D2E8;
    text-decoration: none;
    vertical-align: middle;
}

.menuNiv2
{
    font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #E6E8F5;
    text-decoration: none;
    vertical-align: middle;
}

.menuNiv20
{
    font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #C8D2E8;
    text-decoration: none;
    vertical-align: middle;
}


/* --- ventanas --- */
.TabContainerCliente .ajax__tab_header
{
    font-family: Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

.TabContainerCliente .ajax__tab_header .ajax__tab_outer
{
    border-color: #222;
    color: #222;
    padding-left: 10px;
    margin-right: 3px;
    border: solid 1px #d7d7d7;
}

.TabContainerCliente .ajax__tab_header .ajax__tab_inner
{
    border-color: #666;
    color: #666;
    padding: 3px 10px 2px 0px;
    cursor: hand;
}
.TabContainerCliente .ajax__tab_hover .ajax__tab_outer
{
    background-color: #d7d7d7;
}

.TabContainerCliente .ajax__tab_hover .ajax__tab_inner
{
    color: #fff;
}

.TabContainerCliente .ajax__tab_active .ajax__tab_outer
{
    border-bottom-color: #ffffff;
    background-color: #ACCBE0;
}

.TabContainerCliente .ajax__tab_active .ajax__tab_inner
{
    color: #376185;
    border-color: #333;
    cursor: hand;
}
.TabContainerCliente .ajax__tab_body
{
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    background-color: #fff;
    border-top-width: 0;
    border: solid 1px #d7d7d7;
    border-top-color: #d7d7d7;
}

.FondoNegroVentana
{
    /*background: #LightGray;     background-color: LightGray;     position: fixed;     top: 0;     left: 0;     width: 100%;     height: 100%;     border: 1px solid #cecece;     z-index: 995;     -moz-opacity: 0.5;     -khtml-opacity: 0.5; /*opacity: 0.5; 	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);  	filter: alpha(opacity=50);     visibility: inherit;     */
    background: none repeat scroll 0 0 LightGray;
    border: 1px solid #CECECE;
    height: 768px;
    left: 0;
    position: fixed;
    top: 0;
    visibility: inherit;
    width: 100%;
    z-index: 995;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
}

.DivVentana
{
    position: fixed; /*position: absolute; */
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
}

/***********************************************/
/********** VENTANA EMERGENTE ******************/
/**********************************************/
/***** ERROR *****/
TD.EncabezadoError
{
    font-family: Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
    color: #E2380B;
    background-color: #F4D5D5;
    text-align: left;
    text-indent: 5px;
}
.EtiError
{
    font-family: Taoma, Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 10px;
    font-weight: normal;
    color: #464545;
    background-color: #FFF4F0;
}
.tablaInternaError
{
    left: 0;
    top: 5;
    visibility: inherit;
    border: solid #F4D5D5 1px;
    width: 600; /*height:130;*/
    background-color: #FFF4F0;
    clip: rect(0,600,150,0);
}

/***** SATISFACTORIO *****/
TD.EncabezadoSatisfactorio
{
    font-family: Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
    color: #6EA214;
    background-color: #BEE386;
    text-align: left;
    text-indent: 5px;
}
.EtiSatisfactorio
{
    font-family: Taoma, Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 10px;
    font-weight: normal;
    color: #464545;
    background-color: #E0F2C6;
}
.tablaInternaSatisfactorio
{
    left: 0;
    top: 5;
    visibility: inherit;
    border: solid #BEE386 1px;
    width: 600; /*height:130;*/
    background-color: #E0F2C6;
    clip: rect(0,600,150,0);
}

/***** ADVERTENCIA *****/
TD.EncabezadoAdvertencia
{
    font-family: Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
    color: #FFA12D;
    background-color: #FAEAAC;
    text-align: left;
    text-indent: 5px;
}
.EtiAdvertencia
{
    font-family: Taoma, Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 10px;
    font-weight: normal;
    color: #464545;
    background-color: #FFFFBB;
}
.tablaInternaAdvertencia
{
    left: 0;
    top: 5;
    visibility: inherit;
    border: solid #FAEAAC 1px;
    width: 600; /*height:130;*/
    background-color: #FFFFBB;
    clip: rect(0,600,150,0);
}

/***** CONFIRMACION *****/
TD.EncabezadoConfirmación
{
    font-family: Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
    color: #376185;
    background-color: #ACCBE0;
    text-align: left;
    text-indent: 5px;
}
.EtiConfirmación
{
    font-family: Taoma, Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: 10px;
    font-weight: normal;
    color: #8B908C;
    background-color: #F7F8FB;
}
.tablaInternaConfirmación
{
    left: 0;
    top: 5;
    visibility: inherit;
    border: solid #ACCBE0 2px;
    width: 600; /*height:130;*/
    background-color: #F7F8FB;
    clip: rect(0,600,150,0);
}

/***********************************************/
/********** FIN VENTANA EMERGENTE *************/
/**********************************************/

.TablaExternaVentana
{
    position: fixed;
    left: 30%;
    top: 230px;
    width: 600px;
    z-index: 997;
    padding: 8px;
}

.capTitCriterios
{
    /*position: absolute;*/
    left: 0;
    top: 0;
    visibility: inherit;
    width: 600;
    height: 30;
    clip: rect(0,600,30,0);
}


.tablaInterna
{
    width: 100%;
    border: 0;
    border-top: 1px solid silver;
    padding-top: 5px;
}


/******************** PROCESANDO *********************/

.ajaxCargandoWhite
{
    /*background: #LightGray;     background-color: LightGray;     position: fixed;     top: 0;     left: 0;     width: 100%;     height: 100%;     border: 1px solid #cecece;     z-index: 995;     -moz-opacity: 0.5;     -khtml-opacity: 0.5; /*opacity: 0.5; 	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);  	filter: alpha(opacity=50);     visibility: inherit;     */ /*background: none repeat scroll 0 0 LightGray;*/
    background: white repeat scroll 0 0;
    position: fixed;
    border: 1px solid #CECECE;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 998;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    margin: 0;
    padding: 0;
    overflow: visible;
    visibility: inherit;
}

.ajaxCargando
{
    position: absolute;
    overflow: visible;
    left: 0px;
    top: 50%;
    right: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    vertical-align: middle;
    text-align: center;
}

.txtMultilinea
{
    color: #000000;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" ,Arial,Helvetica,Verdana,sans-serif;
    font-size: small;
    width: 250px;
}

.TD25
{
    width: 25%;
}

.TD50
{
    width: 50%;
}

.TD75
{
    width: 75%;
}

.TD100
{
    width: 100%;
}

/* ESTILOS PARA TD's */

.TDCriterios25
{
    width: 25%;
    text-align: left;
}

.TDCriterios50
{
    width: 50%;
    text-align: left;
}

.TDCriterios75
{
    width: 75%;
    text-align: left;
}

.TDCriterios100
{
    width: 100%;
    text-align: justify;
}


/* ESTILOS PARA TEXTBOX! */

.EstiloTxtCorto100
{
    width: 100px;
}

.EstiloTxtMedio120
{
    width: 120px;
}

.EstiloTxtCorto80
{
    width: 80px;
}

/* Estilo LABEL's */

.lblCriterios
{
    font-family: Taoma, Verdana, Arial, Helvetica, sans-serif, Symbol;
    font-size: small;
}

.DatosListaNormal
{
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif, Symbol;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    color: #8B908C;
    border: 1px solid #dbdddc;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    height: 33px;
}

.DatosLista
{
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif, Symbol;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    color: #8B908C;
    border: 1px solid #dbdddc;
    text-decoration: none;
    overflow: hidden; /* text-overflow: ellipsis;*/
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
