<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <!--Conexiones Locales-->
        <!--<add name="ApplicationServices" connectionString="Data Source=LAURA-PORTATIL\SQLEXPRESS;Initial Catalog=EDUAR_aspnet_services;Persist Security Info=True;User ID=sa; Password=tesis" providerName="System.Data.SqlClient"/>
        <add name="EDUAR_ConnectionString" connectionString="Data Source=LAURA-PORTATIL\SQLEXPRESS;Initial Catalog=EDUAR;Persist Security Info=True;User ID=sa;Password=tesis" providerName="System.Data.SqlClient"/>-->
        <!--<add name="ApplicationServices" connectionString="Data Source=SOFIA;Initial Catalog=EDUAR_aspnet_services;Persist Security Info=True;User ID=sa; Password=tesis" providerName="System.Data.SqlClient" />
        <add name="EDUAR_ConnectionString" connectionString="Data Source=SOFIA;Initial Catalog=EDUAR;Persist Security Info=True;User ID=sa;Password=tesis" providerName="System.Data.SqlClient" />-->
        <!--Conexiones Remotas-->
        <add name="ApplicationServices" connectionString="Data Source=alulau.redirectme.net,1433;Initial Catalog=EDUAR_aspnet_services;Persist Security Info=True;User ID=sa; Password=tesis" providerName="System.Data.SqlClient"/>
        <add name="EDUAR_ConnectionString" connectionString="Data Source=alulau.redirectme.net,1433;Initial Catalog=EDUAR;Persist Security Info=True;User ID=sa;Password=tesis" providerName="System.Data.SqlClient" />
        <!-- Conexión Indra -->
        <!--<add name="ApplicationServices" connectionString="Data Source=PROYECTO\SQLEXPRESS;Initial Catalog=EDUAR_aspnet_services;Persist Security Info=True;User ID=sa; Password=tesis" providerName="System.Data.SqlClient"/>
        <add name="EDUAR_ConnectionString" connectionString="Data Source=PROYECTO\SQLEXPRESS;Initial Catalog=EDUAR;Persist Security Info=True;User ID=sa;Password=tesis" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <!-- Variables -->
    <appSettings>
        <add key="oLogPath" value="C:\EDUAR_log\LOG" />
        <add key="oLogNombre" value="LogEDUAR.log" />
        <add key="oLogActivo" value="true" />
        <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\EDUAR_log\LOG" />
    </appSettings>
    <system.web>
        <globalization uiCulture="es" culture="es-AR" />
        <authentication mode="Forms">
            <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880" />-->
            <forms name=".ASPXAUTH" loginUrl="~/Public/Account/Login.aspx" protection="All" path="/" timeout="10" requireSSL="false" slidingExpiration="true" />
        </authentication>
        <membership defaultProvider="AspNetSqlMembershipProvider">
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="EDUAR_UI" passwordFormat="Clear" />
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="AspNetSqlProfileProvider" cacheRolesInCookie="true" cookieName=".EDUAR_ASPRoles" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="EDUAR_UI" />
            </providers>
        </roleManager>
        <siteMap enabled="true">
            <providers>
                <add name="WebXmlSiteMapProvider" description="Logged User SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
                <add name="AnonymusXmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="WebAnonymus.sitemap" securityTrimmingEnabled="false" />
            </providers>
        </siteMap>
        <customErrors defaultRedirect="/EDUAR_UI/Error/Error.htm" mode="Off">
            <error statusCode="400" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="401" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="402" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="403" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="404" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="405" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="406" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="407" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="408" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="409" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="410" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="411" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="412" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="413" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="414" redirect="/EDUAR_UI/Error/Error.htm" />
            <error statusCode="415" redirect="/EDUAR_UI/Error/Error.htm" />
        </customErrors>
        <httpHandlers>
            <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
        </httpHandlers>
        <pages  theme="Tema" styleSheetTheme="Tema">
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </controls>
        </pages>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
        </compilation>
        <webServices>
            <protocols>
                <add name="HttpSoap"/>
                <add name="HttpPost"/>
                <add name="HttpGet"/>
                <add name="Documentation"/>
                <add name="HttpPostLocalhost"/>
            </protocols>
        </webServices>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
        </httpErrors>
        <handlers>
            <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

        </handlers>
    </system.webServer>
    <location path="~/Public/Account/ForgotPassword.aspx">
        <system.web>
            <authorization>
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
</configuration>
