<?xml version="1.0"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <!--Conexiones Locales-->
        <add name="ApplicationServices" connectionString="Data Source=Laura-Portatil\SQLEXPRESS;Initial Catalog=EDUAR_aspnet_services;Persist Security Info=True;User ID=sa; Password=tesis"
             providerName="System.Data.SqlClient"/>
        <add name="EDUAR_ConnectionString" connectionString="Data Source=Laura-Portatil\SQLEXPRESS;Initial Catalog=EDUAR;Persist Security Info=True;User ID=sa;Password=tesis"
             providerName="System.Data.SqlClient" />
        
        <!--Conexiones Remotas-->
        <!--<add name="ApplicationServices" connectionString="Data Source=alulau.redirectme.net,1433;Initial Catalog=EDUAR_aspnet_services;Persist Security Info=True;User ID=sa; Password=tesis"
             providerName="System.Data.SqlClient"/>
        <add name="EDUAR_ConnectionString" connectionString="Data Source=alulau.redirectme.net,1433;Initial Catalog=EDUAR;Persist Security Info=True;User ID=sa;Password=tesis"
             providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <!-- Variables -->
    <appSettings>
        <add key="oLogPath" value="C:\EDUAR_log\LOG"/>
        <add key="oLogNombre" value="LogEDUAR.log"/>
        <add key="oLogActivo" value="true"/>
    </appSettings>

    <system.web>
        <authorization>
            <!--<deny users="?"/>-->
            <allow users="*"/>
        </authorization>
        <globalization uiCulture="es-AR" culture="es-AR"  />
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Forms">
            <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880" />-->
            <forms name=".ASPXAUTH" loginUrl="~/Account/Login.aspx" protection="All" path="/" timeout="10" requireSSL="false" slidingExpiration="true"/>
        </authentication>

        <membership defaultProvider="AspNetSqlMembershipProvider" >
            <providers>
                <clear/>
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
                     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
                     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
                     applicationName="EDUAR_UI" passwordFormat="Clear" />
            </providers>
        </membership>

        <roleManager enabled="true" defaultProvider="AspNetSqlProfileProvider" cacheRolesInCookie="true" cookieName=".EDUAR_ASPRoles" cookieTimeout="30"
                     cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
            <providers>
                <clear/>
                <add name="AspNetSqlProfileProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="EDUAR_UI"  />
            </providers>
        </roleManager>

        <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
            <providers>
                <add name="XmlSiteMapProvider"
                  description="Default SiteMap provider."
                  type="System.Web.XmlSiteMapProvider"
                  siteMapFile="Web.sitemap"
                  securityTrimmingEnabled="true" />
            </providers>
        </siteMap>

    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
