<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="ConfigIndicadores.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Psicopedagogo"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="GetIndicadores.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Psicopedagogo"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow roles="Administrador,Director,Psicopedagogo"/>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>