<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="Boletin.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrador, Tutor, Alumno"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="ManageCitaciones.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrador,Administrativo,Director,Docente,Psicopedagogo,Preceptor"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="CitacionesTutores.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrador,Tutor"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <system.web>
        <authorization>
            <allow roles="Administrador,Administrativo,Alumno,Director,Docente,Psicopedagogo,Preceptor,Tutor"/>
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>