<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Psicopedagogo"/>
            <deny users="?" roles="Administrativo,Administrador,Tutor,Director,Docente,Preceptor,Alumno" />
        </authorization>
    </system.web>
</configuration>