<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Docente"/>
            <deny users="?" roles="Administrativo,Administrador,Tutor,Director,Preceptor,Psicopedagogo,Alumno" />
        </authorization>
    </system.web>
</configuration>