<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="reportAccesos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="reportCalificacionesAlumnoPeriodo.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente,Psicopedagogo"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="reportInasistenciasAlumnoPeriodo.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente,Psicopedagogo,Preceptor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="reportIndicadores.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Psicopedagogo"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="reportPromedios.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente,Psicopedagogo"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="reportSancionesAlumnoPeriodo.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Director,Docente,Psicopedagogo,Preceptor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
        <authorization>
            <allow roles="Administrador,Administrativo,Director,Docente,Psicopedagogo,Preceptor,Tutor"/>
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>