<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Administrativo"/>
            <deny users="?" roles="Administrador,Docente,Tutor,Director,Preceptor,Psicopedagogo,Alumno" />
        </authorization>
    </system.web>
</configuration>